* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.top-right-corner {
  clip-path: polygon(
    0 0,
    var(--corner-top, 80%) 0,
    100% var(--corner-right, 30%),
    100% 80%,
    100% 100%,
    0 100%,
    0% 80%,
    0% 20%
  );
}
body {
  --body-bg: rgb(14, 12, 21);
  margin: 0;
  font-family: monospace;
  color: lightgray;
  background-color: var(--body-bg);
}

.container {
  position: relative;
  display: grid;
  place-items: center;
}

header {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  text-transform: uppercase;
  border: .5px solid rgb(110, 101, 114, .5);
}

.head-left {
  display: flex;
  gap: 15px;
  align-items: center;
}

.head-left img {
  height: 45px;
}

header ul {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

header ul li {
  list-style-type: none;
}

header a {
  font-weight: 900;
  font-size: 15px;
  color: gray;
  text-decoration: none;
  transition: .3s;
  &:hover {
    color: lightgray;
    text-shadow: 0 0 15px rgba(255, 255, 255, .35);
  }
}

.head-right {
  display: flex;
  gap: 25px;
  align-items: center;
}

.button-box {
  position: relative;
  width: 100px;
  height: 45px;
  background: linear-gradient(
    90deg,
    #00aaa7,
    #7f42a7,
    #6600c5,
    #1f2b9c,
    #2a46ff,
    #0099ff,
    #00aaa7
  );
  background-size: 200%;
  animation: animation-gradient 2.5s linear infinite;
  border-radius: 10px;
}

.head-right button {
  position: absolute;
  inset: 3px;
  border: none;
  text-transform: inherit;
  color: lightgray;
  background-color: var(--body-bg);
  border-radius: 10px;
  clip-path: inherit;
  cursor: pointer;
  transition: .3s;
  &:hover {
    color: #7e00d2;
  }
}

@keyframes animation-gradient {
  100% {
    background-position-x: 200%;
  }
}

.hero {
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
  width: 90%;
  height: 150vh;
}

.hero > img {
  position: absolute;
}

.hero-blur-img {
  top: -15%;
  width: 100%;
}

.hero-rings-img {
  top: 90px;
  height: 90%;
  opacity: .4;
}

.hero-icons-img {
  top: 8%;
  width: 100%;
}

.hero h2 {
  position: absolute;
  top: 10%;
  max-width: 1000px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 50px;
  color: #fff;
}

.hero h3 {
  position: absolute;
  top: 22%;
  max-width: 700px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  color: gray;
}

.hero button {
  position: absolute;
  top: 30%;
  width: 140px;
  height: 50px;
  border: none;
  text-transform: capitalize;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: .3s;
  &:hover {
    opacity: .7;
    color: #7e00d2;
  }
}

.hero-img-box {
  position: relative;
  display: grid;
  place-items: center;
  width: 1000px;
  height: 550px;
  margin-top: 250px;
  background: linear-gradient(90deg,#00aaa7,#7f42a7,#6600c5,#1f2b9c,#2a46ff,#0099ff,#00aaa7);
  background-size: 200%;
  animation: animation-gradient 2.5s linear infinite;
  border-radius: 50px;
}

.hero-img-box .robot-box {
  overflow: hidden;
  width: 98.5%;
  height: 98.5%;
  border-radius: inherit;
}

.hero-img-box .robot-box img {
  width: 100%;
  height: 100%;
  mix-blend-mode: hard-light;
}

.hero-img-box .robot-box .robot-header {
  width: 100%;
  height: 30px;
  background-color: rgba(0, 0, 0, .3);
  backdrop-filter: blur(10px);
}

.hero-img-box :where(.element1, .element2) {
  position: absolute;
  top: 25%;
  width: 25%;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  & img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(255, 255, 255, .432);
  }
}

.hero-img-box .element1 {
  right: -15%;
}
.hero-img-box .element2 {
  left: -15%;
}

.hero h4 {
  position: absolute;
  bottom: 12%;
  color: gray;
}

.companies-list {
  position: absolute;
  bottom: 3%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.companies-list .company {
  display: flex;
  gap: 10px;
  align-items: center;
}

.companies-list .company img {
  height: 50px;
}

.companies-list .company p {
  font-size: 30px;
  font-weight: bold;
}

.parallax {
  transition: transform 1s linear;
}

.signin-page-box {
  position: fixed;
  top: 60%;
  width: 30%;
  min-width: 500px;
  height: 60vh;
  opacity: 0;
  filter: blur(10px);
}

.signin-page-box .close {
  --a: 1;
  position: absolute;
  top: 20px;
  right: 15px;
  border: none;
  font-size: 40px;
  line-height: .8;
  color: rgba(255,255,255,var(--a));
  background: transparent;
  cursor: pointer;
  transition: .3s;
  &:hover { --a: .7; }
}

.signin-page {
  position: relative;
  display: grid;
  gap: 5%;
  grid-template-columns: 100%;
  justify-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(14,12,21);
  box-shadow: 0 0 15px rgba(255,255,255,.484);
  border-radius: 20px;
}

.signin-page h3 {
  text-transform: capitalize;
  font-size: 40px;
  font-weight: bold;
}

.signin-page input {
  --corner-top: 92%;
  --corner-right: 44%;
  padding: 7.5px 30px;
  background-color: lightgray;
  width: 60%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.signin-page button {
  width: 50%;
  height: 40px;
  border: none;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  background-color: #7e00d2;
  border-radius: 5px;
  cursor: pointer;
}

.signin-page button.login {
  background-color: gray;
}

.open-signin {
  animation: open-signin .7s forwards;
}

@keyframes open-signin {
  100% {
    top: 25%;
    opacity: 1;
    filter: blur(0);
  }
}

.close-signin {
  animation: close-signin .7s forwards;
}

@keyframes close-signin {
  0% {
    top: 25%;
    opacity: 1;
    filter: blur(0);
  }
  100% {
    top: 60%;
    opacity: 0;
    filter: blur(10px);
  }
}

/* tablet */
@media screen and (width <= 1000px) {
  header {
    padding: 10px;
  }

  header ul {
    min-width: 300px;
  }

  .head-right a {
    margin-right: -20px;
  }

  .hero h1 {
    font-size: 35px;
  }

  .hero-img-box {
    height: 450px;
  }

  .hero-img-box .element1 {
    right: 5%;
    top: -12%;
  }

  .hero-img-box .element2 {
    left: 5%;
    top: 95%;
  }

  .companies-list .company img {
    height: 35px;
  }

  .companies-list .company p {
    font-size: 20px;
  }

  .signin-page-box {
    width: 70%;
  }
}

/* mobile */
@media screen and (width <= 700px) {
  header ul {
    display: none;
  }

  .hero h1 {
    top: 6%;
  }

  .hero h3 {
    max-width: 350px;
    font-size: 15px;
    line-height: 22px;
  }

  .hero button {
    top: 32%;
  }

  .hero-image-box .element1 {
    top: -15%;
    width: 140px;
    height: 50px;
  }

  .hero-image-box .element2 {
    width: 140px;
    height: 50px;
  }

  .hero h4 {
    bottom: 18%;
  }

  .companies-list {
    flex-wrap: wrap;
    max-width: 400px;
  }
}